@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.interiorBackground {
  background: url("../assets/Background.jpg") no-repeat center center;
  background-size: cover;
}
